{% extends "base.html" %} {% block title %}Task Manager{% endblock %} {% block
content %}
<div class="card bg-base-200 shadow-xl mb-6">
  <div class="card-body p-4 md:p-6">
    <h2 class="card-title text-2xl md:text-xl mb-3">Add New Task</h2>
    <form
      class="flex flex-col md:flex-row gap-4 md:gap-3"
      hx-post="/tasks"
      hx-target="#task-list"
      onsubmit="setTimeout(() => this.reset(), 1)"
    >
      <input
        type="text"
        placeholder="Enter task"
        name="description"
        class="input input-bordered w-full flex-grow text-base"
        required
      />
      <select
        class="select select-bordered w-full md:w-48 text-base"
        name="priority"
      >
        <option disabled selected>Priority</option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
      <button class="btn btn-primary w-full md:w-auto text-base">
        Add Task
      </button>
    </form>
  </div>
</div>

<div class="card bg-base-200 shadow-xl">
  <div class="card-body p-4 md:p-6">
    <ul
      class="space-y-3 list bg-base-100"
      id="task-list"
      hx-get="/tasks"
      hx-trigger="load"
      hx-swap="innerHTML"
    >
      <!-- Task items will be dynamically loaded here -->
    </ul>
  </div>
</div>
{% endblock %}
